/* Carrito.css */
.carrito-page {
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para la página */
    color: white; /* Color del texto */
}

.carrito-contenedor {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    background-color: #126865; /* Fondo actualizado del contenedor */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
}

.carrito-contenido {
    display: flex; /* Usar flexbox para dos columnas */
    justify-content: space-between; /* Espacio entre las columnas */
}

.productos-lista {
    flex: 1; /* Columna de productos */
    margin-right: 20px; /* Espacio entre columnas */
}

.producto-card {
    background-color: #ffffff; /* Fondo de cada producto */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    color: #333; /* Color del texto */
}

.detalles-pago {
    flex: 1; /* Columna de detalles de pago */
    background-color: #ffffff; /* Fondo blanco para el detalle */
    padding: 15px;
    border-radius: 8px;
    color: black;
}

.botones {
    display: flex;
    justify-content: space-between; /* Separar los botones */
}

button {
    background-color: #4c4f54;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5c5f64;
}
