/* Catalogo.css */
.catalogo-page {
    padding: 20px;
    background-color: #f4f4f4; /* Fondo similar al de Perfil */
  }
  
  .catalogo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 20px; /* Espacio entre las tarjetas */
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-image {
    width: 100%; /* Asegura que la imagen se ajuste a la tarjeta */
    height: auto;
    border-radius: 8px; /* Bordes redondeados para la imagen */
  }
  
  .card h3 {
    font-size: 1.2em;
  }
  
  .card p {
    font-size: 1em;
    margin: 5px 0;
  }
  
  .card-buttons {
    margin-top: 10px; /* Espaciado entre los botones */
  }
  
  .card button {
    margin: 5px; /* Espaciado entre los botones */
    background-color: #4c4f54; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 8px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
  }
  
  .card button:hover {
    background-color: #5c5f64; /* Color del botón al pasar el cursor */
  }
  /* src/styles/MensajeModal.css */
.mensaje-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.mensaje-modal {
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mensaje-modal button {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.mensaje-modal button:hover {
  background-color: #bbb;
}


  
  