.catalogo-page {
  padding: 20px;
  background-color: #f4f4f4;
}

.catalogo-container {
  background-color: #126865; /* Fondo del contenedor */
  padding: 20px;
  border-radius: 8px;
}

.catalogo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 20px; /* Espacio entre las tarjetas */
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-buttons {
  margin-top: 10px;
}

.card button {
  margin: 5px;
  background-color: #4c4f54;
  color: #ffffff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.card button:hover {
  background-color: #5c5f64;
}

/* Modal Detalle */
.catalogo-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscurecido */
}

.catalogo-modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #126865; /* Fondo del modal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
  color: white;
  gap: 15px;
}

.modal-left img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.modal-right h2,
.modal-right p {
  margin: 10px 0;
}

/* Modal Text Content */
.modal-text-content {
  flex: 1; /* Ocupa el espacio necesario */
  background-color: white; /* Fondo blanco */
  color: #333; /* Texto oscuro */
  padding: 15px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.modal-text-content h2 {
  margin-top: 0; /* Elimina margen superior */
  color: black; /* Color destacado */
}

.modal-text-content p {
  margin: 5px 0; /* Espaciado entre líneas */
}

.modal-buttons {
  margin-top: 15px; /* Espaciado superior para los botones */
  display: flex;
  gap: 10px;
}

.modal-buttons button {
  background-color: #4c4f54;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
  background-color: #5c5f64;
}

/* Mensaje Modal */
.mensaje-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.mensaje-modal {
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
