.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
  }
  .footer h1 {
    font-size: 1.5rem; /* Tamaño de fuente ajustado */
    margin: 0; /* Asegúrate de que no haya margen */
  }
  .navbar {
    display: flex;
  }
  
  .navbar-text {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-text li {
    display: flex;
    align-items: center;
    font-size: 1.2rem; /* Tamaño de los íconos */
  }
  
  .navbar-text li:hover {
    color: #61dafb; /* Cambia el color al pasar el cursor */
  }
  