html, body {
  height: 100%; /* Asegúrate de que ocupen el 100% de la altura del viewport */
  margin: 0;
  display: flex;
  flex-direction: column;
}

.catalogo-page {
  flex: 1; /* El contenido principal ocupará el espacio restante */
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #126865;
  color: white;
  width: 95%;
  position: relative; /* Mantén relativa para compatibilidad */
  bottom: 0;
}

.footer h1 {
  font-size: 1.5rem; /* Tamaño de fuente ajustado */
  margin: 0; /* Asegúrate de que no haya margen */
}

.navbar {
  display: flex;
}

.navbar-text {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar-text li {
  display: flex;
  align-items: center;
  font-size: 1.2rem; /* Tamaño de los íconos */
}

.navbar-text li:hover {
  color: #61dafb; /* Cambia el color al pasar el cursor */
}
