/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px; /* Ajusta el padding para que sea más compacto */
  background-color: #282c34;
  color: white;
  height: 80px; /* Ajustar la altura según sea necesario */
}

.header h1 {
  font-size: 1.5rem; /* Tamaño de fuente ajustado */
  margin: 0; /* Asegúrate de que no haya margen */
}

.navbar {
  display: flex;
}

.logo a{
  color: white; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
  display: flex; /* Alinear ícono y texto en una fila */
  align-items: center;
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px; /* Espacio entre los enlaces */
  margin: 0;
  padding: 0;
  align-items: center; /* Centrar verticalmente los elementos */
}

.navbar-links li {
  display: flex;
  align-items: center; /* Centrar el ícono y el texto verticalmente */
}

.navbar-links a {
  color: white; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
  display: flex; /* Alinear ícono y texto en una fila */
  align-items: center; /* Centrar verticalmente */
}

.navbar-links a:hover {
  color: #61dafb; /* Cambiar color al pasar el cursor */
}

.navbar-links svg {
  margin-right: 5px; /* Espaciado entre el ícono y el texto */
  font-size: 1.2rem; /* Tamaño del ícono */
}

/* Header.css */
.login-button {
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  text-decoration: none; /* Subrayado para parecer un enlace */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  font-size: inherit;
  background-color: #282c34; /* Hereda el tamaño de fuente */
}

.login-button:hover {
  color: #61dafb; /* Color al pasar el mouse */
}


  