.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.modal-content {
    background-color:#282c34; /* Fondo blanco para el contenido del modal */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    width: 500px; /* Ancho del modal */
    position: relative; /* Para posicionar el botón de cerrar */
}

.input_form{
    width: 94%;       
}

.button_login{
    margin: 12px;
    padding-left: 20px;
}

label{
    padding: 10px;
    padding-top: 3px;
}