/* Modal CSS */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro para la superposición */
}

.modal-content {
    background-color: #126865; /* Fondo actualizado del contenido del modal */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    width: 400px; /* Ancho del modal */
    position: relative; /* Para posicionar el botón de cerrar */
    color: white; /* Color del texto en el modal */
}

.input_form {
    width: 100%; /* Ajuste de ancho de los formularios dentro del modal */
}

.button_login {
    margin: 12px;
    padding-left: 20px;
    background-color: #4c4f54; /* Fondo del botón */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.button_login:hover {
    background-color: #5c5f64; /* Efecto hover para el botón */
}

label {
    padding: 10px;
    padding-top: 3px;
    color: white; /* Color del texto de las etiquetas */
}
