/* Recibo.css */

.recibo-page {
    padding: 20px;
    background-color: #3d4046; /* Fondo similar al Home */
    color: #ffffff; /* Color del texto */
}

.recibo-contenedor {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    background-color: #4c4f54; /* Fondo del contenedor */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
}

.recibo-contenido {
    display: flex; /* Usar flexbox para dos columnas */
    justify-content: space-between; /* Espacio entre las columnas */
}

.productos-lista {
    flex: 1; /* Columna de productos */
    margin-right: 20px; /* Espacio entre columnas */
}

.producto-card {
    background-color: #ffffff; /* Fondo de cada producto */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    color: #333; /* Color del texto */
}

.detalles-pago {
    flex: 1; /* Columna de detalles de pago */
    background-color: #ffffff; /* Fondo blanco para el detalle */
    padding: 15px;
    border-radius: 8px;
}

img {
    width: 50px; /* Tamaño del ícono */
    height: 50px; /* Tamaño del ícono */
}
