.registro-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(142, 139, 139, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.registro-modal-content {
  background-color: #f8f8f8; /* Fondo claro */
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.registro-close-button {
  background: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.registro-form {
  display: flex;
  flex-direction: column;
  color: black;
}

.registro-form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.registro-input {
  border: 1px solid #ccc; /* Bordes grises */
  border-radius: 4px;
  padding: 10px;
  width: 48%; /* Ocupa el 48% del espacio para permitir dos columnas */
}

.registro-submit-button {
  background-color: #555; /* Color de fondo oscuro */
  color: white; /* Texto blanco */
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registro-submit-button:hover {
  background-color: #333; /* Color más oscuro al pasar el mouse */
}

  
